.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
scripts/__pycache__
.astro/
cde-proj/
include/
plugins/
packages.txt
credentials/
tests/
test.py
cde-project/cde-proj
cde-project/logs/dbt.log


