apache-airflow-providers-snowflake 
black                              
boto3                              
dbt-snowflake                      
flake8                             
isort                              
keyring                            
msgpack                            
pip                                
pipreqs                            

astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy