apache-airflow-providers-snowflake 
astronomer-cosmos
protobuf==3.20.3
black                              
boto3                              
dbt-snowflake                      
flake8                             
isort                              
keyring                            
msgpack                            
pip                                
pipreqs                            
